.gallery-container {
  padding: 50px 100px 100px 100px;
  position: relative;
}

.gallery-wrapper {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
}

.gallery-categories button:hover {
  background-color: rgba(40, 40, 40, 1);
}

.non-active {
  background-color: rgba(25, 25, 25, 1);
}

.active {
  background-color: rgba(40, 40, 40, 1);
}

.gallery-wrapper::-webkit-scrollbar-track {
  background-color: rgba(30, 30, 30, 1);
}

.gallery {
  background-color: rgba(40, 40, 40, 1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: transform 0.5s ease;
  padding: 15px;
  justify-content: center;
}

.gallery-item {
  flex: 1 1 calc(20% - 20px);
  max-width: calc(20% - 20px);
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.non-display {
  display: none;
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.3s, filter 0.3s;
  aspect-ratio: 1 / 1;
}

.gallery-item:hover img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.gallery-text {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}