body {
  margin: 0;
  font-family: "Georgia";
}

#navbar {
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Wyrównanie w pionie */
  background-color: black;
  width: 100%;
}

.main-navbar {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Wypełnia przestrzeń między .main-navbar a .sm-navbar */
}

.main-navbar a {
  color: white;
  text-align: center;
  padding: 8px 20px;
  margin: 0 10px;
  text-decoration: none;
  position: relative;
  transition: all .2s ease-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sm-navbar {
  display: flex;
  align-items: center;
}

.sm-navbar a {
  margin: 0 10px;
}

/* Dla obrazków wewnątrz .sm-navbar */
.sm-navbar img {
  height: 24px;
}

.main-navbar img {
  height: 24px;
}


  /* Change color on hover */
#navbar a:hover {
  background-color: #ddd;
  color: black;
  transition: all .2s ease-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-bar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.logo {
  margin-right: auto; /* Ustawia logo na lewej stronie */
  margin-left: auto; /* Ustawia logo na prawej stronie */
  height: auto;
  width: 7%;
}

.sm-icons {
  margin-left: auto;
}

.sm-icons img {
  height: 24px;
}

.test {
  background-image: url("img/bg.jpeg");
  background-size: cover;
  position: relative;
  min-height: 1005px;
  padding: 16px;
}

.test::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.97); /* Adjust the alpha value (last parameter) for the desired transparency */
}

.content {
  position: relative;
  z-index: 1; /* Ensure content appears above the background */
  padding: 20px; /* Adjust padding as needed */
  color: #fff; /* Adjust text color as needed */
}

.sticky + .test {
  padding-top: 51px;
}

.footer {
  background-image: url("img/footer.png");
  min-height: 600px;
}

.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns with equal width */
        gap: 20px; /* Gap between grid items */
        padding: 50px 50px 50px 50px;
    }
.grid-item-img {
  text-align: right;
}
.grid-item-p {
  text-align: left;
}
    /* CSS for the image */
    .grid-item-img img {
        max-width: 400px; /* Ensure the image doesn't exceed its container */
        margin-right: 50px;
        height: auto; /* Maintain aspect ratio */
    }

    /* CSS for the text */
    .grid-item-p p {
      margin-left: 50px;
      margin-right: 50px;
        font-size: 20px;
        line-height: 1.5;
    }
