body {
  margin: 0;
  /*font-family: "Georgia";*/
  font-family: 'Alata';
  color: white;
}

.logo-bar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.logo {
  margin-right: auto;
  /* Ustawia logo na lewej stronie */
  margin-left: auto;
  /* Ustawia logo na prawej stronie */
  height: auto;
  width: 7%;
}

.absolute {
  position: absolute;
}

#navbar {
  z-index: 999;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Wyrównanie w pionie */
  background-color: black;
  width: 100%;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  transition: all .2s ease-out;
}


.main-navbar {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* Wypełnia przestrzeń między .main-navbar a .sm-navbar */
}

.main-navbar a {
  color: white;
  text-align: center;
  padding: 8px 20px;
  margin: 0 10px;
  text-decoration: none;
  position: relative;
  transition: all .2s ease-out;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.main-navbar a::after {
  content: '•';
  /* Ustawienie kropki */
  position: absolute;
  right: -15px;
  /* Pozycja kropki na prawo od linku */
  color: white;
  /* Dopasuj kolor kropki */
  pointer-events: none;
}

.main-navbar a:last-child::after {
  content: '';
}

.main-navbar img {
  height: 24px;
}

.sticky {
  opacity: 90%;
  position: fixed;
  top: 0;
  width: 100%;
}

.content-background {
  background-image: url("img/bg.jpeg");
  background-size: contain;
  position: relative;
  width: 100%;
}

.content-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /* Adjust the alpha value (last parameter) for the desired transparency */
  z-index: 1;
}

.background-section>* {
  position: relative;
  z-index: 2;
  /* Treść sekcji powinna być nad filtrem */
}


.intro {
  position: relative;
  width: 100%;
}

#header-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 1.2s;
}

.shrink {
  scale: 50%;
  border-radius: 25px;
}



.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns with equal width */
  gap: 20px;
  /* Gap between grid items */
  padding: 50px;
}

.grid-item-img {
  text-align: right;
}

.grid-item-p {
  text-align: left;
}

/* CSS for the image */
.grid-item-img img {
  max-width: 400px;
  /* Ensure the image doesn't exceed its container */
  margin-right: 50px;
  height: auto;
  /* Maintain aspect ratio */
}

/* CSS for the text */
.grid-item-p p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  line-height: 1.5;
}

/* Cały scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track (tło paska przewijania) */
::-webkit-scrollbar-track {
  background: #1A1A1A;
}

/* Handle (uchwyt paska przewijania) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle na hover */
::-webkit-scrollbar-thumb:hover {
  background: #5A5A5A;
}

.about-container {
  background-color: rgba(25, 25, 25, 1);
  padding: 50px 0;
  position: relative;
}

.about-content {
  padding: 0px 100px 0px 100px;
  display: flex;
}

.about-content-left {
  background: url("img/antek.JPG") center center;
  width: 25%;
}

.about-content-center {
  padding: 0px 50px 100px 50px;
}

.about-content-right {
  background: url("img/bartek.png") center center;
  width: 25%;
}

.test {
  background: url("img/antek.JPG") center 60%;
  background-size: cover;
  overflow: hidden;
  height: 500px;
  width: auto;
}

.test::before {
  content: '';
  position: absolute;
  top: 35.8%;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(12, 12, 12, 0.75);
  /* Adjust the alpha value (last parameter) for the desired transparency */
  z-index: 1;
}

.section::before {
  z-index: 9999;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: gray;
  transform: translateX(-50%);
}

.section:last-child::before {
  height: 0;
}


.line-anim .section-title {
  position: relative;
}

.line-anim h2::before {
  content: '';
  position: absolute;
  top: 120%;
  /* Adjust as needed */
  left: 50%;
  width: calc(100% + 20px);
  /* Adjust width as needed */
  height: 3px;
  /* Adjust height as needed */
  background-color: white;
  /* Adjust color as needed */
  transform: translateX(-50%) scaleX(0%);
  transform-origin: center;
  transition: transform 0.6s ease-out;
}

.line-anim-visible h2::before {
  transform: translateX(-50%) scaleX(100%);
}




.section-title {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.section-title h2 {
  color: white;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  position: relative;
}


/* Initial state of the elements */
.slide-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Animated state when the element is in view */
.slide-in-visible {
  opacity: 1;
  transform: translateY(0);
}

.facebook-iframe {
  width: 100%;
  max-width: 600px;
  /* Adjust based on your design */
  height: 435px;
  /* Adjust based on the height specified in the iframe URL */
  border: 5px solid;
  /* Remove border */
  overflow: hidden;
  /* Hide overflow */
  margin: 20px 0;
  /* Add some margin if needed */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  /* Add transition for slide-in effect */
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.offer-container {
  background-color: rgba(25, 25, 25, 1);
  padding: 50px 100px 100px 100px;
  position: relative;
}

.offer-grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  height: 750px;

}

.offer-grid-item {
  /*border: solid 1px;*/
  font-size: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  background-color: lightgray;
}

.offer-grid-item:first-child {
  border-top-left-radius: 15px;
}

.offer-grid-item:first-child::before {
  content: '';
  position: absolute;
  border-top-left-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.offer-grid-item:nth-child(3) {
  border-top-right-radius: 15px;
}

.offer-grid-item:nth-child(3)::before {
  content: '';
  position: absolute;
  border-top-right-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.offer-grid-item:nth-last-child(3) {
  border-bottom-left-radius: 15px;
}

.offer-grid-item:nth-last-child(3)::before {
  content: '';
  position: absolute;
  border-bottom-left-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.offer-grid-item:last-child {
  border-bottom-right-radius: 15px;
}

.offer-grid-item:last-child::before {
  content: '';
  position: absolute;
  border-bottom-right-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.item1 {
  background: url("img/offer/car.JPG") center center;
  background-size: cover;
}

.item2 {
  background: url("img/offer/wnetrza.JPG") center center;
  background-size: cover;
}

.item3 {
  background: url("img/offer/lakier.JPG") center center;
  background-size: cover;
}

.item4 {
  background: url("img/offer/powloki.JPG") center center;
  background-size: cover;
}

.item5 {
  background: url("img/offer/folie.JPG") center center;
  background-size: cover;
}

.item6 {
  background: url("img/offer/clean.JPG") center center;
  background-size: cover;
}

.item7 {
  background: url("img/offer/tapicera.JPG") center center;
  background-size: cover;
}

.item8 {
  background: url("img/offer/wgniecenia.JPG") center center;
  background-size: cover;
}

.item9 {
  background: url("img/offer/other.JPG") center center;
  background-size: cover;
}

.grid-option::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the alpha value (last parameter) for the desired transparency */
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.offer-grid-item:hover a {
  /*color: #ababab;*/
  font-size: 25px;
}

.grid-option:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

.offer-grid-item a {
  position: absolute;
  /* Position the link absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Ensure the link is on top */
  text-align: center;
  /* Center the text horizontally */
  line-height: 100px;
  /* Center the text vertically, adjust to container height */
  text-decoration: none;
  /* Remove underline */
  color: white;
  background-color: rgba(255, 255, 255, 0);
  /* Transparent background to avoid covering container's background */
  display: flex;
  /* Use flexbox to center text vertically and horizontally */
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  /* Ensure the link is clickable */
  transition: 0.3s ease-in-out;
}



/* FOOTER */

.footer {
  background-image: url("img/footer.png");
  min-height: 600px;
}

.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.footer-row:first-child::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: white;
}

.footer-container a {
  text-decoration: none;
  color: white;
  transition: all .2s ease-out;
}

.footer-container a:hover {
  color: #5A5A5A;
  transition: all .2s ease-out;
}

.footer-row {
  display: flex;
  text-align: center;
  flex: 1;
}

.footer-row:first-child {
  justify-content: space-between;
  position: relative;
}

.footer-contact::after {
  position: absolute;
  content: '';
  bottom: 10%;
  top: 10%;
  width: 1px;
  left: 33.3333333334%;
  transform: scaleY(65%);
  background-color: white;
}

.footer-linker p {
  margin-bottom: 25px;
  margin-top: 0;
}

.footer-linker::after {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 66.6666666667%;
  width: 1px;
  background-color: white;
  transform: scaleY(65%);
}

.footer-row:last-child {
  align-items: center;
  justify-content: center;
}

.column {
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
}

.column img {
  height: 75px;
}

.footer-contact h4 {
  margin-top: 30px;
}

.footer-first-row h3 {
  margin-bottom: 50px;
}

.footer-address iframe {
  border-radius: 10px;
  width: 75%;
}

.footer-bottom {
  padding-top: 0;
}

.address-label {
  text-align: left;
}

.company-info::before {
  content: '';
  background-color: white;
  width: 200px;
  height: 1px;
  position: absolute;
  transform: translateX(-50%);
}





.sm-link {
  z-index: 99;
  position: fixed;
  left: 0;
  bottom: 10%;
  width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.sm-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.sm-link a svg {
  width: 30px;
  fill: #ffffff;
  transition: opacity 0.2s ease-in-out;
}

.sm-link .instagram {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040);
  border-radius: 0 10px 0 0;
}

.sm-link .facebook {
  background-color: #006aff;
  border-radius: 0 0 10px 0;
}

.sm-link a:hover {
  width: 185%;
  border-radius: 0 10px 10px 0;
}

.sm-link a:hover p {
  transform: translateX(0);
  opacity: 100%;
}

.sm-link a:hover svg {
  opacity: 0;
}

.sm-link p {
  transform: translateX(-100px);
  text-decoration: none;
  color: white;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  position: absolute;
}

.sm-link .facebook p {
  width: 110px;
  transform: translateX(-100px);
  text-decoration: none;
  color: white;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  position: absolute;
}








.service-title {
  width: 100%;
  height: 400px;
  /* Fixed height */
  background: url("img/offer/other.JPG") center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  /* Optional: To make text stand out */
  position: relative;
  z-index: 1;
}

.service-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* Adjust the height of the gradient as needed */
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 30%);
  z-index: -1;
  /* To place it behind the main content */
}

.service-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* Adjust the height of the gradient as needed */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(25, 25, 25, 1) 80%);
  z-index: -1;
  /* To place it behind the main content */
}

.service-title h1 {
  position: relative;
  z-index: 1;
  /* Ensure the text is above the ::before pseudo-element */
  padding: 10px 20px;
  /* Optional: Add padding around the text */
  display: inline-block;
  /* Ensure the h2 width is only as wide as the text */
}

.service-title h2 {
  position: relative;
  z-index: 1;
  /* Ensure the text is above the ::before pseudo-element */
  padding: 10px 20px;
  /* Optional: Add padding around the text */
  display: inline-block;
  /* Ensure the h2 width is only as wide as the text */
}

.service-title h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the alpha value (last parameter) for the desired transparency */
  z-index: -1;
  border-radius: 15px;
}

.service-container {
  position: relative;
}

.service-content {
  display: flex;
  text-align: left;
  background-color: rgba(25, 25, 25, 1);
  padding: 0 350px 0 350px;
}

.service-content-description {
  margin-right: 200px;
}

.service-content-right-column {
  display: flex;
  flex-direction: column;
}

.service-content-info {
  display: flex;
}

.service-content-photo {
  background: url("img/bartek.png") center center;
  background-size: cover;
  width: 100%;
  height: 80%;
  overflow: hidden;
}


.service-content-photo img {
  width: 300px;
  height: 800px;
  overflow: hidden;
}

.service-content-info h3 {
  width: 138px;
}

.service-content-paragraph {
  padding: 0px 0px 0px 0px;
  margin-bottom: 50px;
}

/*.service-content-paragraph::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(90, 90, 90, 0.192);
  /* Adjust the alpha value (last parameter) for the desired transparency */
/*
  z-index: -1;
  border-radius: 15px;
}*/

p,
li {
  color: rgb(190, 190, 190);
}

strong {
  color: rgb(255, 255, 255);
}

hr {
  background-color: rgb(190, 190, 190);
}

.realisations-container {
  background-color: rgba(25, 25, 25, 1);
}

.realisations-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 100px 20px 100px;
  gap: 30px;
}

.realisation-item {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.realisation-item-photo {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  overflow: hidden;
}

.realisation-item-photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.realisation-item-photo:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
}

.transparent-button {
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.transparent-button:hover {
  background-color: white;
  color: black;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  position: relative;
  margin: auto;
  padding: 0;
  height: 100%;
  width: 90%;
  max-width: 1000px;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox-slide {
  max-height: 100%;
  display: none;
  text-align: center;
}

.lightbox-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  border-radius: 3px;
  user-select: none;
  transform: translateY(-50%);
}

.prev {
  left: -5%;
}

.next {
  right: -5%;
}

.prev:hover,
.next:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

















.contact-container {
  margin-top: 100px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 50px 20px 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-options {
  width: 30%;
}

.contact-method,
.contact-form {
  background-color: rgba(25, 25, 25, 1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-method {
  flex: 1;
  max-width: 300px;
  text-align: center;
  margin-bottom: 50px;
}

.contact-method:last-child {
  margin-bottom: 0;
}

.contact-form {
  flex: 2;
  max-width: 600px;
}

.contact-method h3,
.contact-form h3 {
  margin-bottom: 10px;
}

.contact-method a {
  margin-bottom: 20px;
  transition: all .2s ease-out;
}

.contact-method a:hover {
  color: #5A5A5A;
}

.contact-method a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.contact-method button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  padding: 5px 30px 5px 30px;
}

.contact-method .contact-messenger {
  background-color: #006aff;
}

.contact-method .contact-instagram {
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040);
}

.contact-method button:hover {
  width: 65%;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select,
input[type="email"],
input[type="tel"],
textarea {
  text-align: center;
  font-family: 'Alata';
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

input[type="text"]:focus,
select:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #5A5A5A;
}








.pricing-container {
  background-color: rgba(25, 25, 25, 1);
  position: relative;
}

.pricing-content {
  color: white;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.pricing-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 1px solid #555;
}

.pricing-item:last-child {
  border-bottom: 0;
}

.pricing-item h3 {
  flex: 2;
  font-size: 18px;
  margin: 0;
}

.pricing-item .price,
.pricing-item .time {
  flex: 1;
  text-align: right;
  margin: 0 10px;
}

.time {
  padding: 0 20px 0 0;
}

.pricing-item .description {
  flex: 3;
  margin: 0 10px;
  font-size: 14px;
  color: #bbb;
}

.pricing-item hr {
  display: none;
}

.pricing-item a {
  color: #1e90ff;
  text-decoration: underline;
}