body {
  margin: 0;
  font-family: "Georgia";
  color: white;
}

.logo-bar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.logo {
  margin-right: auto; /* Ustawia logo na lewej stronie */
  margin-left: auto; /* Ustawia logo na prawej stronie */
  height: auto;
  width: 7%;
}

.absolute {
  position: absolute;
}

#navbar {
  z-index: 999;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Wyrównanie w pionie */
  background-color: black;
  width: 100%;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  transition: all .2s ease-out;
}


.main-navbar {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Wypełnia przestrzeń między .main-navbar a .sm-navbar */
}

.main-navbar a {
  color: white;
  text-align: center;
  padding: 8px 20px;
  margin: 0 10px;
  text-decoration: none;
  position: relative;
  transition: all .2s ease-out;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.main-navbar a::after {
  content: '•'; /* Ustawienie kropki */
  position: absolute;
  right: -13px; /* Pozycja kropki na prawo od linku */
  color: white; /* Dopasuj kolor kropki */
  pointer-events: none;
}

.main-navbar a:last-child::after {
  content: '';
}

.main-navbar img {
  height: 24px;
}

.sticky {
  opacity: 90%;
  position: fixed;
  top: 0;
  width: 100%;
}

.content-background {
  background-image: url("img/bg.jpg");
  background-size: contain;
  position: relative;
  width: 100%;
}

.content-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.97); /* Adjust the alpha value (last parameter) for the desired transparency */
  z-index: 1;
}

.background-section > * {
  position: relative;
  z-index: 2; /* Treść sekcji powinna być nad filtrem */
}


.grid-container {
  position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns with equal width */
        gap: 20px; /* Gap between grid items */
        padding: 50px;
    }
.grid-item-img {
  text-align: right;
}
.grid-item-p {
  text-align: left;
}
    /* CSS for the image */
    .grid-item-img img {
        max-width: 400px; /* Ensure the image doesn't exceed its container */
        margin-right: 50px;
        height: auto; /* Maintain aspect ratio */
    }

    /* CSS for the text */
    .grid-item-p p {
      margin-left: 50px;
      margin-right: 50px;
        font-size: 20px;
        line-height: 1.5;
    }

    /* Cały scrollbar */
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    /* Track (tło paska przewijania) */
    ::-webkit-scrollbar-track {
        background: #1A1A1A;
    }

    /* Handle (uchwyt paska przewijania) */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 2px;
    }

    /* Handle na hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #5A5A5A;
    }

    .sm-feed-container {
      background-color: rgba(25, 25, 25, 1);
      padding: 50px 100px 100px 100px;
      position: relative;
    }

.section::before {
  z-index: 9999;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: gray;
  transform: translateX(-50%);
}


.line-anim .section-title {
    position: relative;
  }
  
  .line-anim h2::before {
    content: '';
    position: absolute;
    top: 120%; /* Adjust as needed */
    left: 50%;
    width: calc(100% + 20px); /* Adjust width as needed */
    height: 3px; /* Adjust height as needed */
    background-color: white; /* Adjust color as needed */
    transform: translateX(-50%) scaleX(0%);
    transform-origin: center;
    transition: transform 0.6s ease-out;
  }
  
  .line-anim-visible h2::before {
    transform: translateX(-50%) scaleX(100%);
  }
  



    .section-title {
      justify-content: center;
      display: flex;
      align-items: center;
      margin-bottom: 75px;
    }

    .section-title h2 {
      color: white;
      margin: 0;
      font-size: 28px;
      font-weight: bold;
      position: relative;
    }


    /* Initial state of the elements */
    .slide-in {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }

    /* Animated state when the element is in view */
    .slide-in-visible {
      opacity: 1;
      transform: translateY(0);
    }

    .facebook-iframe {
      width: 100%;
      max-width: 600px; /* Adjust based on your design */
      height: 435px; /* Adjust based on the height specified in the iframe URL */
      border: none; /* Remove border */
      overflow: hidden; /* Hide overflow */
      margin: 20px 0; /* Add some margin if needed */
      transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Add transition for slide-in effect */
    }


.content {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}




/* FOOTER */

.footer {
  background-image: url("img/footer.png");
  min-height: 600px;
}

.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.footer-row:first-child::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: white;
}

.footer-container a {
  text-decoration: none;
  color: white;
  transition: all .2s ease-out;
}

.footer-container a:hover {
  color: #5A5A5A;
  transition: all .2s ease-out;
}

.footer-row {
  display: flex;
  text-align: center;
  flex: 1;
}

.footer-row:first-child {
  justify-content: space-between;
  position: relative;
}

.footer-contact::after {
  position: absolute;
  content: '';
  bottom: 10%;
  top: 10%;
  width: 1px;
  left: 33.3333333334%;
  transform: scaleY(65%) translateY(-10%);
  background-color: white;
}

.footer-linker::after {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 66.6666666667%;
  width: 1px;
  background-color: white;
  transform: scaleY(65%) translateY(-10%);
}

.footer-row:last-child {
  align-items: center;
  justify-content: center;
}
.column {
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
}

.column img {
  height: 75px;
}

.footer-contact h4 {
  margin-top: 30px;
}

.footer-contact h3 {
  margin-bottom: 50px;
}

.footer-address iframe {
  border-radius: 10px;
  width: 75%;
}

.footer-bottom {
  padding-top: 0;
}


.address-label {
  text-align: left;
}
